Q1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
    i. WAP to add 200 and 300 to L.
    ii. WAP to remove 10 and 30 from L.
    iii. WAP to sort L in ascending order.
    iv. WAP to sort L in descending order.

In [9]:
L=[10, 20, 30, 40, 50, 60, 70, 80]
L.extend([100,200])
L.remove(10)
L.remove(30)
L.sort
print(L)
L.sort(reverse=True)
print(L)

[20, 40, 50, 60, 70, 80, 100, 200]
[200, 100, 80, 70, 60, 50, 40, 20]

##2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present.

In [1]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

highest_score = max(scores)
highest_index = scores.index(highest_score)

lowest_score = min(scores)
lowest_count = scores.count(lowest_score)
reversed_list = list(scores[::-1])
specific_score = 76
if specific_score in scores:
    first_occurrence_index = scores.index(specific_score)
    score_message = f"The score {specific_score} is present at index {first_occurrence_index}."
else:
    score_message = f"The score {specific_score} is not present in the tuple."

highest_score, highest_index, lowest_score, lowest_count, reversed_list, score_message

(92,
 5,
 45,
 2,
 [45, 58, 92, 89, 45.4, 76, 89.5, 45],
 'The score 76 is present at index 2.')

#WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
*i. All odd numbers
ii. All even numbers
iii. All prime numbers*

In [6]:
import random

random_numbers = [random.randint(100, 900) for _ in range(100)]

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

odd_numbers = [num for num in random_numbers if num % 2 != 0]

even_numbers = [num for num in random_numbers if num % 2 == 0]

prime_numbers = [num for num in random_numbers if is_prime(num)]

print("Total odd numbers:", len(odd_numbers))
print("Sample odd numbers:", odd_numbers[:10])

print("Total even numbers: ", len(even_numbers))
print("Sample even numbers: ", even_numbers[:10])

print("Total prime numbers: ", len(prime_numbers))
print("Sample prime numbers: ", prime_numbers[:10])

Total odd numbers: 45
Sample odd numbers: [385, 735, 841, 895, 353, 865, 305, 131, 291, 843]
Total even numbers:  55
Sample even numbers:  [736, 818, 816, 806, 270, 170, 828, 804, 724, 124]
Total prime numbers:  11
Sample prime numbers:  [353, 131, 521, 101, 547, 443, 797, 103, 241, 541]

##Consider the following two sets, A and B, represenƟng scores of two teams in multiple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
*WAP to perform the following operations using set functions:*

*i. Find the unique scores achieved by both teams (union of sets).*

*ii. Identify the scores that are common to both teams (intersecƟon of sets).*

*iii. Find the scores that are exclusive to each team (symmetric difference).*

*iv. Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.*

*v. Remove a specific score X (input by the user) from set A if it exists. If not, print a message saying it is not present.*

In [8]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

unique_scores = A.union(B)
common_scores = A.intersection(B)
exclusive_scores = A.symmetric_difference(B)
is_A_subset_of_B = A.issubset(B)
is_B_superset_of_A = B.issuperset(A)
specific_score = 78

if specific_score in A:
    A.remove(specific_score)
    remove_message = f"Score {specific_score} removed from set A."
else:
    remove_message = f"Score {specific_score} is not present in set A."

print("Unique scores:", unique_scores)
print("Common scores:", common_scores)
print("Exclusive scores:", exclusive_scores)
print("Is A a subset of B:", is_A_subset_of_B)
print("Is B a superset of A:", is_B_superset_of_A)
print("Updated set A:", A)
print(remove_message)

Unique scores: {34, 45, 78, 23, 56, 90}
Common scores: {90, 78}
Exclusive scores: {34, 45, 23, 56}
Is A a subset of B: False
Is B a superset of A: False
Updated set A: {56, 34, 90}
Score 78 removed from set A.

#5. Write a program to rename a key city to a location in the following dicƟonary.

In [9]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

sample_dict["location"] = sample_dict.pop("city")

print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}