**Assingment 1.1**: WAP to print your name three times

In [3]:
name = input("Enter your name: ")

for _ in range(3):
    print(name)

Enter your name: esg
esg
esg
esg

**Assingment 2.1**: WAP to add three numbers and print the result.

In [4]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

result = num1 + num2 + num3

print(f"The sum of the three numbers is: {result}")

Enter the first number: 2
Enter the second number: 3
Enter the third number: 4
The sum of the three numbers is: 9.0

**Assingment 2.2**: WAP to concatinate three strings and print the result.

In [5]:
str1 = input("Enter the first string: ")
str2 = input("Enter the second string: ")
str3 = input("Enter the third string: ")
result = str1 + str2 + str3
print(f"The concatenated string is: {result}")

Enter the first string: h
Enter the second string:
Enter the third string: y
The concatenated string is: hy

**Assingment 4.1:** WAP to print the table of 7, 9.

In [6]:
print("Table of 7:")
for i in range(1, 11):
    print(f"7 x {i} = {7 * i}")

print("\nTable of 9:")
for i in range(1, 11):
    print(f"9 x {i} = {9 * i}")

Table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Table of 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

**Assingment 4.2:** WAP to print the table of n and n is given by user.

In [7]:
n = int(input("Enter the number to print its table: "))

print(f"\nTable of {n}:")
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

Enter the number to print its table: 44

Table of 44:
44 x 1 = 44
44 x 2 = 88
44 x 3 = 132
44 x 4 = 176
44 x 5 = 220
44 x 6 = 264
44 x 7 = 308
44 x 8 = 352
44 x 9 = 396
44 x 10 = 440

**Assingment 4.3:** WAP to add all the numbers from 1 to n and n is given by user.

In [8]:
n = int(input("Enter a number (n): "))

total = sum(range(1, n + 1))

print(f"The sum of all numbers from 1 to {n} is: {total}")

Enter a number (n): 99
The sum of all numbers from 1 to 99 is: 4950

**Assingment 5.1:** WAP to find max amoung three numbers and input from user. [Try max() function]

In [9]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
maximum = max(num1, num2, num3)
print(f"The maximum among the three numbers is: {maximum}")

Enter the first number: 10
Enter the second number: 20
Enter the third number: 30
The maximum among the three numbers is: 30.0

**Assingment 5.2:** WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

In [10]:
n = int(input("Enter the value of n: "))
total = sum(x for x in range(1, n + 1) if x % 7 == 0 and x % 9 == 0)
print(f"The sum of all numbers divisible by 7 and 9 from 1 to {n} is: {total}")

Enter the value of n: 80
The sum of all numbers divisible by 7 and 9 from 1 to 80 is: 63

**Assingment 5.3:** WAP to add all prime numbers from 1 to n and n is given by the user.

In [11]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

n = int(input("Enter the value of n: "))

total = sum(x for x in range(1, n + 1) if is_prime(x))
print(f"The sum of all prime numbers from 1 to {n} is: {total}")

Enter the value of n: 5
The sum of all prime numbers from 1 to 5 is: 10

**Assingment 6.1:** WAP using function that add all odd numbers from 1 to n, n is given by the user.

In [12]:
def sum_of_odds(n):
    return sum(x for x in range(1, n + 1) if x % 2 != 0)

n = int(input("Enter the value of n: "))

etotal = sum_of_odds(n)
print(f"The sum of all odd numbers from 1 to {n} is: {total}")

Enter the value of n: 30
The sum of all odd numbers from 1 to 30 is: 225

**Assingment 6.2:** WAP using function that add all prime numbers from 1 to n, n given by the user.

In [13]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
def sum_of_primes(n):
    return sum(x for x in range(1, n + 1) if is_prime(x))
n = int(input("Enter the value of n: "))
total = sum_of_primes(n)
print(f"The sum of all prime numbers from 1 to {n} is: {total}")

Enter the value of n: 5
The sum of all prime numbers from 1 to 5 is: 10